@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');
body {
    background-color: #ffeeee;
    margin: 0px;
    padding-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #801522;
}
h3 {
    font-family:"Josefin Sans", sans-serif;
}
#header {
    background-color: #ffdddddd;
    height: 130px;
    position: fixed;
    top: 0px;
}
#header a:link, #header a:visited {
    color: #dd0033;
    font-weight: bold;
    text-decoration: none;
    padding-right: 170px;
    padding-left: 100px;
    padding-top: 0px;
}
#logo {
    text-align: center;
}
#shop_image {
    background-color: #ffcccc;
    width: 1400px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 150px;
    margin-left: 50px;
}
#text_flavours {
    background-color: #ffcccc;
    width: 700px;
    text-align: right;
    margin-left: 700px;
    margin-top: -600px; 
    font-size: 25px;
}
#text_cake {
    background-color: #ffcccc;
    width: 700px;
    text-align: right;
    margin-left: 700px;
    margin-top: -550px; 
    font-size: 25px;
}
#button {
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 200px;
}
#button a:link, #button a:visited {
    color: #801522;
    background-color: #eeaaaa;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: solid;
    text-decoration: none;
}
#button a:hover {
    color: #aa1522;
    background-color: #ff96c0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: solid;
}
#fall {
    background-color: #ffcccc;
    width: 600px;
    padding-left: 800px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
}
#text_fall {
    background-color: #ffcccc;
    width: 700px;
    text-align: left;
    margin-left: 90px;
    margin-top: -600px; 
    padding-top: 100px;
    font-size: 25px;
}
#button2 {
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 200px;
    margin-top: 100px;
}
#button2 a:link, #button2 a:visited {
    color: #801522;
    background-color: #eeaaaa;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: solid;
    text-decoration: none;
}
#button2 a:hover {
    color: #aa1522;
    background-color: #ff96c0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: solid;
}
/*MENU BUTTON*/
#menu_link {
    margin-top: 270px;
    margin-left: 50px;
    margin-bottom: 100px;
    font-size: 50px;
}
#menu_link a:link, #menu_link a:visited {   
    background-color: #801522;
    width: 300px;
    padding: 50px;
    padding-bottom: 80px;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
}
#menu_link a:hover {   
    background-color: #aa1522
}
/*ICE CREAM FLAVOURS BUTTON*/
#flavours_link {
    margin-top: -160px;
    margin-left: 350px;
    margin-bottom: 100px;
    font-size: 50px;
}
#flavours_link a:link, #flavours_link a:visited {   
    background-color: #801522;
    width: 300px;
    padding: 50px;
    padding-bottom: 80px;
    color: #fff;
    font-family: "Josefin Sans",sans-serif;
    font-weight: bold;
    text-decoration: none;
}
#flavours_link a:hover {   
    background-color: #aa1522
}
/*CAKES & DESSERTS BUTTON*/
#desserts_link {
    margin-top: -160px;
    margin-left: 950px;
    margin-bottom: 100px;
    font-size: 50px;
}
#desserts_link a:link, #desserts_link a:visited {   
    background-color: #801522;
    width: 300px;
    padding: 50px;
    padding-bottom: 80px;
    color: #fff;
    font-family: "Josefin Sans",sans-serif;
    font-weight: bold;
    text-decoration: none;
}
#desserts_link a:hover {   
    background-color: #aa1522
}
/*FOOTER*/
#footer {
    background-color: #ffcccc;
    margin-top: 200px;
}
#footer_text {
    text-align: right;
    margin-top: -200px;
    padding-bottom: 150px;
    padding-right: 50px;
    font-family: "Josefin Sans",sans-serif;
    font-size: 25px;
}
#footer a:link, #footer a:visited {
    color: #aa1522;
}
#footer a:hover {
    color: #801522;
}
/*STAPLES BUTTON*/
#staples {
    margin-top: 300px;
    margin-left: 250px;
    margin-bottom: 100px;
    font-size: 50px;
}
#staples a:link, #staples a:visited {   
    background-color: #eeaaaa;
    width: 300px;
    padding: 50px;
    padding-bottom: 80px;
    color: #dd0033;
    font-family: "Josefin Sans",sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: solid, 5px, #dd0033;
}
#staples a:hover {   
    background-color: #aa1522;
    color: #fff;
    border: solid, 5px, #fff;
}
/*SEASONAL BUTTON*/
#seasonal {
    margin-top: -160px;
    margin-left: 800px;
    margin-bottom: 100px;
    font-size: 50px;
}
#seasonal a:link, #seasonal a:visited {   
    background-color: #eeaaaa;
    padding: 50px;
    padding-bottom: 80px;
    color: #dd0033;
    font-family: "Josefin Sans",sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: solid, 5px, #dd0033;
}
#seasonal a:hover {   
    background-color: #aa1522;
    color: #fff;
    border: solid, 5px, #fff;
}
/*CAKES BUTTON*/
#cakes {
    margin-top: 300px;
    margin-left: 150px;
    margin-bottom: 100px;
    font-size: 50px;
}
#cakes a:link, #cakes a:visited {   
    background-color: #eeaaaa;
    padding: 50px;
    padding-bottom: 80px;
    color: #dd0033;
    font-family: "Josefin Sans",sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: solid, 5px, #dd0033;
}
#cakes a:hover {   
    background-color: #aa1522;
    color: #fff;
    border: solid, 5px, #fff;
}
/*CUPCAKES BUTTON*/
#cupcakes {
    margin-top: -160px;
    margin-left: 475px;
    margin-bottom: 100px;
    font-size: 50px;
}
#cupcakes a:link, #cupcakes a:visited {   
    background-color: #eeaaaa;
    padding: 50px;
    padding-bottom: 80px;
    color: #dd0033;
    font-family: "Josefin Sans",sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: solid, 5px, #dd0033;
}
#cupcakes a:hover {   
    background-color: #aa1522;
    color: #fff;
    border: solid, 5px, #fff;
}
/*OTHER DESSERTS BUTTON*/
#other {
    margin-top: -160px;
    margin-left: 900px;
    margin-bottom: 100px;
    font-size: 50px;
}
#other a:link, #other a:visited {   
    background-color: #eeaaaa;
    padding: 50px;
    padding-bottom: 80px;
    color: #dd0033;
    font-family: "Josefin Sans",sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: solid, 5px, #dd0033;
}
#other a:hover {   
    background-color: #aa1522;
    color: #fff;
    border: solid, 5px, #fff;
}
#menu {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 450px;
}
#staples_flavours {
    text-align: center;
    font-size: 20px;
    font-family: "Josefin Sans",sans-serif;
}
#staples_flavours a:hover {
    width: 150px;
    height: 150px; 
}
#strawberry {
    margin-top: 150px;
}
#feijoa {
    margin-top: 70px;
}
#creme {
    margin-top: 70px;
}
#strawberry_scoop {
    margin-top: 200px;
    margin-left: 300px;
}
#scoops_text {
    margin-top: -250px;
    margin-left: 700px;
    width: 500px;
    font-size: 20px;
}
#feijoa_scoop {
    margin-top: 200px;
    margin-left: 200px;
}
#creme_scoop {
    margin-top: 150px;
    margin-left: 250px;
}
#pumpkin {
    margin-top: 150px;
    margin-left: -90px;
}
.zoom {
  transition: transform 0.7s ease-in-out; 
}
.zoom:hover {
    transform: scale(1.2);
}
#smores_scoop {
    margin-top: 200px;
    margin-left: 300px;
}
#pumpkin_scoop {
    margin-top: 200px;
    margin-left: 100px;
}
#apple_scoop {
    margin-top: 200px;
    margin-left: 300px;
}
#cake_flavours {
    margin-top: 150px;
    text-align: center;
}
h4 {
    font-size: 20px;
    font-family: "Josefin Sans",sans-serif;
}
#red {
    margin-top: 80px;
}
#allergens {
    text-align: center;
    margin-top: 100px;
}
.credits {
    margin-top: 130px;
    margin-left: 40px;
}